.container {
  padding: 20px;
}

.label {
  margin-right: 20px;
  display: inline-Flex;
  align-items: center;

  input[type="radio"] {
    font-size: 20px;
    width: 1em;
    height: 1em;
    margin-right: 7px;
  }
}
